libemg
# git+https://github.com/Michiboi29/libemg-fork.git@multi_devices#egg=libemg
# -e "C:\GIT\libemg-fork"
torch
lightning
brevitas
numpy
scipy
matplotlib
pandas
scikit-learn
pyserial
pyqt5
pyqt6
pyqtgraph
PyOpenGL #optimize visualization
ability-hand